@import url(./block/main/main.css);
@import url(./block/page/page.css);
@import url(./block/logo/logo.css);
@import url(./block/logo/_place/logo_place_header.css);
@import url(./block/techniques/techniques.css);
@import url(./block/cards/cards.css);
@import url(./block/description/description.css);
@import url(./block/header/header.css);
@import url(./block/header/__subtitle/header__subtitle.css);
@import url(./block/header/__title/header__title.css);
@import url(./block/header/__square-pic/header__square-pic.css);
@import url(./block/header/__main-illustrator/header__main-illustrator.css);
@import url(./block/two-columns/two-columns.css);
@import url(./block/two-columns/__brief/two-columns__brief.css);
@import url(./block/two-columns/__main-text/two-columns__main-text.css);
@import url(./block/two-columns/__paragraph/two-columns__paragraph.css);
@import url(./block/two-columns/__span-accent/two-columns__span-accent.css);
a {
  color: #2f80ed;
}




/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}



